body {
	background: #f3d5c0;
	/* overflow: hidden; */
}
.App {
	font-family: "Inter", sans-serif;
	display: grid;
	place-items: center;
}
.container {
	margin: 3rem;
	padding: 2.2rem;
	/* background: #FFF9F2; */
	width: 320px;
	height: 570px;
	background: #fff9f2;
	/* box-shadow: 2px 9px 28px rgba(170, 170, 170, 0.27); */
	box-shadow: 10px 10px 0px #d29982, inset -5px -5px 0px 0px #d8b6a4;
	border-radius: 26px;
}
.info {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info > img {
	margin-right: 1.5rem;
}

.info > h2 {
	font-family: "Ubuntu", sans-serif;
	font-size: 2rem;
}
.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 2.3rem;
	justify-content: space-around;
}

.links > h4 {
	background: #d29982;
	color: #fff;
	padding: 16px;
	width: 85%;
	margin: 13px;
	font-size: 1.1rem;
	font-weight: 500;
	border-radius: 9px;
	box-shadow: 0px 3px 4px rgba(154, 154, 154, 0.27);
	cursor: pointer;
}
.links h4:hover {
	/* transform: scale(1.1); */
	animation: btn 1s ease forwards;
}
.footer {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 48px;
	/* margin-bottom: 12px; */
}

.icon {
	margin: -30px;
	padding-bottom: 1.4rem;
	cursor: pointer;
}
.icon:hover {
	animation: icons 1s ease forwards infinite;
}

@keyframes btn {
	from {
		background-color: #d29982;
	}
	50% {
		background-color: #ffe699;
		transform: scale(1.1) rotate(-2deg);
		color: #000;
	}
	60% {
		transform: scale(1.1) rotate(7deg);
	}
}
@keyframes icons {
	50% {
		transform: scale(1.1) rotate(-7deg);
	}
	60% {
		transform: scale(1.1) rotate(7deg);
	}
}

/* span {

} */
