.App {
	font-family: "Inter", sans-serif;
}

.info {
	display: flex;
	align-items: center;
	justify-content: center;
}
.info > img {
	margin-right: 1.5rem;
}

.info > h2 {
	font-size: 1.8rem;
}
.links {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

.links > h4 {
	background: #d29982;
	color: #fff;
	padding: 16px;
	width: 50%;
}
